<header>
  <nav>
      <a href="*">My quizzes</a>
      <a href="/">Home</a>

    <% if (user) { %>
      <p>Logged in as <%= user.email %></p>
      <form action="/users/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    <% } else { %>
      <a href="/users/login">Login</a>
    <% } %>
  </nav>
</header>
