<!DOCTYPE html>
<html lang="en">
  <head>
    <title>List of Quizzes</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/quizzes.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>List of Quizzes</h1>

    <% for (const quiz of result) { %>
    <div>
      <header><%= quiz.title %></header>
      <article><%= quiz.description %></article>
      <p>Created by username?</p>
      <footer>
        <a href="#">take this quiz</a> <a href="#">Share this quiz</a>
      </footer>
    </div>
    <% } %>
  </body>
</html>
