$font-text: "Gidole", sans-serif;
$font-title: "Fjalla One", sans-serif;
$primary-color: black;
$gren-background: #3EA66B;
$yellow-sign: #FFD83F;
$orange-button: #FF6953;
$blue-background: #2BA3DC;
$beige-background: #FFFBE0;
$border: 2px solid $primary-color;
$padding-small: .5em;
$margin-small: .5em;
$border-radius-small: 2px;

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: $font-text;

  .quiz-description {
    font-family: $font-title;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
  }

  h1 {
    background-color: $yellow-sign;
    padding: $padding-small;
    border: $border;
    border-radius: $border-radius-small;
    width: 15em;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: none;
    margin: 15px;
    align-items: center;

    input[type="radio"] {
      display: none;
      align-items: center;
    }

    label {
      @extend %interactive-label; // Using extend for common styles
      background-color: $beige-background;
      border-radius: $border-radius-small;
      font-size: 1em;
      width: 300px;
      height: 50px;
      transition: background-color 0.3s ease, transform 0.2s ease;
      cursor: pointer;
    }

    input[type="radio"]:checked + label {
      background-color: $orange-button; // orange when selected
      color: white;
      border: $border;
      border-radius: $border-radius-small;
    }
  }

  legend {
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: $padding-small 1em;
    background-color: $blue-background;
    border: $border;
    align-content: center;
    width: 30em;
    height: 3em;
  }

  button {
    font-size: 1em;
    background-color: $orange-button;
    border: none;
    text-decoration: none;
    margin-top: $margin-small;
    width: 30%;
    height: 2em;
    border-radius: 12px;
    box-shadow: 0px 0.25em $yellow-sign;
  }
}

// Placeholder for common label styles
%interactive-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: $margin-small;
  padding: $padding-small 1em;
  border: $border;
}
