// main.scss
@use 'header' as *; // Import header styles
@use 'attempt' as *;   // Import attempt page styles
@use 'results' as *;   // Import results page styles


header{
  position: fixed;
  top: 0;
  width: 100vw;

}



