$font-text:  "Gidole", sans-serif;
$font-title:  "Fjalla One", sans-serif;
$primary-color: black;
$gren-background: #3EA66B;
$yellow-sign: #FFD83F;
$orange-button: #FF6953;
$beige-background: #FFFBE0;


body{
  margin-top: 100px;
}

