$font-text:  "Gidole", sans-serif;
$font-title:  "Fjalla One", sans-serif;
$primary-color: black;
$gren-background: #3EA66B;
$yellow-sign: #FFD83F;
$orange-button: #FF6953;
$beige-background: #FFFBE0;


body{
  margin-top: 100px;
  display: flexbox;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;

  main{
    width: 100%;
    max-width: 1024px;
    margin-bottom: 1em;
  }


  footer{
align-self: flex-end;
  }
}

